.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #eaeaea;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e91e63;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    gap: 2rem; /* Espace entre les liens */
  }
  
  .nav-links {
    display: flex;
    gap: 1.5rem; /* Espace entre chaque lien */
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    font-weight: 600;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #e91e63;
  }
  
  .nav-link.active {
    color: #e91e63;
    border-bottom: 2px solid #e91e63;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .user-name {
    font-size: 1rem;
    font-weight: bold;
    color: #e91e63;
    background-color: #fde4e8;
    padding: 0.5rem 1rem;
    border-radius: 20px;
  }
  
  .user-avatar {
    width: 35px;
    height: 35px;
    background-color: #ddd;
    border-radius: 50%;
  }
  