.quiz-design-page {
    padding: 2rem;
    color: white;
    background-color: #2E2E2E;
  }
  
  .container{
    padding: 2rem;
    color: white;
    background-color: #2E2E2E;
    
 }

 #input{
    width: 1300px;
    height: 30px;
    font-size: 16px;
    outline: none;
    padding: 6px 16px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: #2E2E2E;
 }

 .input-group{
    position: relative;
    margin-bottom: 15px;
    background-color: #2E2E2E;
 }

 .input-group #input:focus{
    border-color: #ff5f6d;
    color:white;
 }

 .input-group label {
    
    position: absolute;
    cursor: text;
    top: 15px; 
    left: 40px;
    font-size: 12px;
    font-weight: bold;
    background: #2E2E2E;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease;

 }

 .input-group input:focus + label{
    top: -5px;
    color: #ff5f6d;
    font-size: 11px;

 }

 .add-question-btn {
    
    height: 45px;
    margin: 5px;
    background: #ff5f6d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  .question-input {
    color:white;

    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    border-width: 5px;
    
  }
  
  .question-input input {
    flex: 1;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    color: white;
    background-color:#2E2E2E;
    border-width: 5px;
    border-color: #fff;
  }
  
  .add-question-btn {
    
    height: 45px;
    margin: 5px;
    background: #2E2E2E;
    color: #ff5f6d;
    border:  1px solid #ff5f6d;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .question-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  
  .question-card {
    
    background: #fff;
    color: black;
    padding: 1rem;
    border-radius: 10px;
    width: 240px;
    text-align: left;
    
  }
  
  .edit-btn {

    padding: 0.5rem;
    background: white;
    color: #ff5f6d;
    border: 1px solid #ff5f6d;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .save-quiz-btn {
    padding: 0.5rem 2rem;
    background: #2E2E2E;
    color: #ff5f6d;
    border: 1px solid #ff5f6d;
    border-radius: 10px;
    cursor: pointer;
  }

  .question-type-select {
    height: 45px;
    margin: 5px;
    background: #2E2E2E;
    color: #ff5f6d;
    border: 1px solid #ff5f6d;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
  }
  
  